body {
    font-family: 'Roboto Mono',monospace;
    min-height: 100px;
    background-image: url('http://innovationinsider.com.br/wp-content/uploads/2017/07/dinheiro.jpg');
    background-color: gray;
    background-size: 100vh;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right:10px;
  }